* {
    box-sizing:border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color:#333;
    background-color: burlywood;
    
    
}
img{
    max-width: 100%;
    border-style: solid;
}
h1, h2{
    margin-bottom: 15px;
}
.container{
    display:flex;
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 30px;

}

.dropbtn {
    background-color: burlywood;
    color: black;
    padding: 14px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    font-size: 18px;
  }

.dropdown {
    position: relative;
    display: inline-block;
  }
  

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  
.dropdown-content a {
    color: burlywood;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  
.dropdown-content a:hover {background-color: #f1f1f1}
  
 
.dropdown:hover .dropdown-content {
    display: block;
  }
  
 
.dropdown:hover .dropbtn {
    background-color: burlywood;
 }

.navbar{
    background:burlywood;
    color: white;
    height: 60px;
    position: sticky;
    top: 0;
    padding-bottom: 20px;
    
}

ul{
    list-style-type: none;
}

.navbar .logo{
    font-size: x-large;
    font-weight: bold;
}
.navbar a{
    color: black;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    float: right;
}

.navbar .container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex: 1;
    
   

}

.navbar ul li{
    margin-left: 20px;
}
.navbar ul{
    display:flex;

}

.navbar a:hover{
    color: burlywood
}

.header{
    background-color: burlywood;
    min-height: 450px;
    padding-bottom: 10px;
}

.header img{
    max-width: 600px;
    align-items: center;
}

.header .container{
    display: flex;
    align-items: center;
    justify-content: center;

}



.boxes .contianer{
    display:flex;
    justify-content:space-between;
    

}
.box h2{
    font-size: 18px;
    text-decoration: underline;
}
.box {
    flex:1;
    background: burlywood;
    color:white;
    border-radius:10px;
    margin:20px 10px 0px 10px;
    box-shadow: 0 3px 5px rgba(0,0,0,0.6);
    padding: 15px 20px;
    border-style: solid;
}


footer {
    display:flex;
    color: white;
    padding-top: 10px;
    flex-direction: column;
    height: 40px;
    background-color: rgb(28, 28, 109);
    padding-bottom: 20px;
    width: 300px;
    height: 50px;
    background: none;
    position: relative;
    animation: mymove 5s infinite;
    animation-timing-function: linear;
    text-align: center;
    

}

@media(max-width: 768px){
    .header .container{
        flex-direction: column;
        padding-top: 20px;
        text-align: center;
    }

    .boxes .container{
        display:block;
        text-align: center;
    }
}


  
@keyframes mymove {
    from {left: 0px;}
    to {left: 200px;}
}